.container {
  display: flex;
  gap: var(--size-medium);
  align-items: center;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin: var(--size-base);
  color: var(--color-white);
  text-align: center;


}