.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-base);
}

.icon {
  background:  var(--color-nearlyBlack);
  border-radius: var(--border-radius-max);
  padding: var(--size-base);
  height: 84px;
  min-width: 84px;

  svg {
    width: 100%;
    height: 100%;
    color: var(--color-white);
  }
}