:root {
  /* sizes */
  --size-containerMaxWidth: 1248px;
  --size-small: 0.8rem;
  --size-base: 1.6rem;
  --size-medium: 3.2rem;
  --size-large: 6.4rem;
  --size-extraLarge: 12.8rem;
  --size-super: 19.2rem;

  /* colors */
  --color-black: #000000;
  --color-nearlyBlack: #333333;
  --color-nearlyBlack20: rgba(51, 51, 51, 0.2);
  --color-nearlyBlack40: rgba(51, 51, 51, 0.4);
  --color-nearlyBlack60: rgba(51, 51, 51, 0.6);
  --color-white: #ffffff;
  --color-white80: rgba(255, 255, 255, 0.8);
  --color-paleGrey: #f5f5f5;
  --color-grey: #E0E0E0;
  --color-red: #C60000;
  --color-darkRed: #5F2120;
  --color-darkGreen: #11723A;
  --color-pink: #FFEBEE;
  --color-paleYellow: #FFF8E1;
  --color-lighthouseGood: #00CC66;
  --color-lighthouseGoodDark: #028802;
  --color-lighthouseGoodPale: #E6FAF0;
  --color-lighthouseAverage: #FFAA33;
  --color-lighthouseAverageDark: #C33300;
  --color-lighthouseAveragePale: #FFF7EB;
  --color-green: #18A46F;
  --color-paleGreen: #F1FDF8;
  --color-orange: #F55700;
  --color-paleOrange: #FEF1F0;
  --color-purple: #AA1994;
  --color-palePurple: #FBECF9;
  --color-blue: #0168B8;
  --color-paleBlue: #E7F8FF;

  /* fonts */
  --font-size-small: 1.4rem;
  --font-size-base: 1.8rem;
  --font-size-medium: 2.4rem;
  --font-size-large: 3.6rem;
  --font-size-extraLarge: 4.8rem;
  --font-size-max: 6.4rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* breakpoints */
  --breakpoint-min-width: 768px;
  --breakpoint-max-width: 767px;
  --breakpoint-medium: 900px;

  /* border raduis */
  --border-radius-small: .8rem;
  --border-radius-medium: 1.6rem;
  --border-radius-large: 3.2rem;
  --border-radius-max: 50%;

  /* transitions */
  --transition-fast: all 0.2s ease-in-out;
  --transition-base: all 0.8s ease-in-out;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
}
